@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    margin-top: 0;
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }

  #interests
  .interests-container {
    display: flex;  /* This ensures that the entries are laid out horizontally */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
    justify-content: space-around; /* Ensures even spacing when container width is reduced */
  }

  .interest-entry {
    width: calc(18% - 5px); /* Adjust width taking some margin into account */
    margin: 2px; /* Provides space around each entry */
  }
  
  .experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures there is space between the columns */
    margin: 0 -50px; /* Negative margin to counteract the padding on each job-entry */
  }

  .job-entry {
    width: calc(45% - 5px); /* Two entries per row, 20px for margin */
    margin: 15px; /* Space around each entry */
    padding: 15px; /* Reduced padding inside each job entry */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  }

  .job-title,
  .job-duration,
  .job-description {
    font-size: 0.95rem; /* Smaller text for better fit */
  }

  .job-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Reduced gap between skill tags */
    margin-top: 8px; /* Space above the skill tags */
  }

  .job-skills span {
    font-size: 0.75rem; /* Smaller skill tags */
    padding: 2px 8px; /* Smaller padding in skill tags */
    border-radius: 5px; /* Less rounded corners for a sharper look */
    background-color: #e4e4e4; /* Light grey background for skill tags */
    box-shadow: none; /* Removing shadow from skills for a flatter look */
  }

}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience {
      padding: 2rem; /* Adjust padding for the experience section */
  }

  .experience-container {
      justify-content: space-around; /* Adjust spacing between job entries */
  }

  .job-entry {
      width: calc(33.333% - 20px); /* Adjust width for three columns layout */
      margin-bottom: 2rem; /* Adjust the spacing between rows */
  }

  .job-entry:nth-child(even) {
      margin-left: 0; /* Reset the margin for even elements if moving to a three column layout */
  }

  .job-description {
      font-size: 0.95rem; /* Slightly smaller font size if needed */
  }

  .job-skills span {
      font-size: 0.75rem; /* Adjust skill tag font size if necessary */
  }
  
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 3%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  #interests
  .interests-container {
    display: flex;  /* This ensures that the entries are laid out horizontally */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
    justify-content: space-around; /* Ensures even spacing when container width is reduced */
  }

  .interest-entry {
    width: calc(18% - 5px); /* Adjust width taking some margin into account */
    margin: 2px; /* Provides space around each entry */
  }

}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  #experience {
    padding: 2rem 1rem; /* Uniform padding around the experience section */
  }

  .experience-container {
    display: flex;
  }

  .job-entry {
    width: 90%; /* Each job entry takes full width */
    margin-bottom: 20px; /* Consistent bottom margin between entries */
    padding: 15px; /* Sufficient padding inside each job entry */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    background-color: #fff; /* Background color for visibility */
    border-radius: 8px; /* Rounded corners for a smoother look */
  }

  .job-description {
    font-size: 0.9rem; /* Slightly smaller font size for readability */
  }

  .job-skills span {
    padding: 5px 10px; /* Adequate padding inside skill tags */
    font-size: 0.8rem; /* Smaller font size for skill tags */
    margin: 2px; /* Small margin around skill tags to prevent clumping */
    background-color: #e4e4e4; /* Light grey background for tags */
    border-radius: 4px; /* Rounded corners for skill tags */
  }

  .job-title {
    font-size: 1rem; /* Larger font size for job titles for emphasis */
  }

  .job-duration {
    font-size: 0.85rem; /* Smaller font size for duration to save space */
    color: #666; /* Grey color for less emphasis on duration */
  }

  .arrow {
    width: 50px; /* Adjusts arrow icon size */
    height: auto;
  }

  .interest-entry {
      width: 100%; /* Adjust width for smaller screens to occupy full width */
      min-height: 200px; /* Adjust height for smaller screens */
  }

}

@media screen and (max-width: 768px) { /* or whatever breakpoint you need */
  .hamburger-menu {
      z-index: 10;
      /* Any other positioning styles for mobile */
  }
  .interest-entry {
      width: 100%; /* Adjust width for smaller screens to occupy full width */
  }
}